## Hey!

I'm a geospatial data scientist in Copenhagen, Denmark.

I recently graduated from MSc in Geography & Geoinformatics at the University of Copenhagen.

I have experience in programming, database management, modelling and a passion for data visualisation and clear communication.

Check out some of my [projects](/projects)!

**I'm currently looking for work!** Contact me at jvabistsevits [at] gmail [dot] com
