## Projects

I've worked on some neat projects throughout the years and these are some of my favourites:

- [Exploratory analysis of dengue outbreaks in Taiwan](/projects/dengue-taiwan) *(June 2025)*
- [Classification of urban green spaces with Random Forest](/projects/ugs-classification) *(March 2024)*
- [N and P concentrations in small lakes in Estonia](/projects/water-quality) *(June 2021)*
- [Transit-oriented development: Ørestad case](/projects/unimelb-tod-poster.pdf) *(May 2020)*
