@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '@fontsource-variable/inter';
@import '@fontsource-variable/inter/wght-italic.css';
@theme {
	--font-sans:
		'InterVariable', 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--color-main-50: var(--color-slate-50);
	--color-main-100: var(--color-slate-100);
	--color-main-200: var(--color-slate-200);
	--color-main-300: var(--color-slate-300);
	--color-main-400: var(--color-slate-400);
	--color-main-500: var(--color-slate-500);
	--color-main-600: var(--color-slate-600);
	--color-main-700: var(--color-slate-700);
	--color-main-800: var(--color-slate-800);
	--color-main-900: var(--color-slate-900);
	--color-main-950: var(--color-slate-950);

	/* https://www.tints.dev/palette/v1:YWNjZW50fDY2Nzg1Rnw3MDB8cHwwfDB8MjB8OTh8bQ */
	--color-accent-50: oklch(0.944 0.038 136.8);
	--color-accent-100: oklch(0.916 0.064 136.73);
	--color-accent-200: oklch(0.854 0.067 136.98);
	--color-accent-300: oklch(0.795 0.062 136.88);
	--color-accent-400: oklch(0.737 0.058 137.02);
	--color-accent-500: oklch(0.676 0.053 136.91);
	--color-accent-600: oklch(0.606 0.047 136.77);
	--color-accent-700: oklch(0.551 0.043 136.95);
	--color-accent-800: oklch(0.47 0.037 137.89);
	--color-accent-900: oklch(0.386 0.031 137.89);
	--color-accent-950: oklch(0.35 0.027 136.76);
}

@utility bg-pattern-light {
	background-image: url('/pattern.svg');
}

@utility bg-pattern-dark {
	background-image: url('/pattern-dark.svg');
}

@utility prose-theme {
	--tw-prose-body: var(--color-main-800);
	--tw-prose-headings: var(--color-accent-700);
	--tw-prose-lead: var(--color-main-700);
	--tw-prose-links: var(--color-accent-700);
	--tw-prose-bold: var(--color-main-900);
	--tw-prose-counters: var(--color-main-600);
	--tw-prose-bullets: var(--color-main-400);
	--tw-prose-hr: var(--color-main-300);
	--tw-prose-quotes: var(--color-main-900);
	--tw-prose-quote-borders: var(--color-main-300);
	--tw-prose-captions: var(--color-main-700);
	--tw-prose-code: var(--color-main-900);
	--tw-prose-pre-code: var(--color-main-100);
	--tw-prose-pre-bg: var(--color-main-900);
	--tw-prose-th-borders: var(--color-main-300);
	--tw-prose-td-borders: var(--color-main-200);
	--tw-prose-invert-body: var(--color-main-200);
	--tw-prose-invert-headings: var(--color-accent-500);
	--tw-prose-invert-lead: var(--color-main-300);
	--tw-prose-invert-links: var(--color-accent-500);
	--tw-prose-invert-bold: var(--color-white);
	--tw-prose-invert-counters: var(--color-main-400);
	--tw-prose-invert-bullets: var(--color-main-600);
	--tw-prose-invert-hr: var(--color-main-700);
	--tw-prose-invert-quotes: var(--color-main-100);
	--tw-prose-invert-quote-borders: var(--color-main-700);
	--tw-prose-invert-captions: var(--color-main-400);
	--tw-prose-invert-code: var(--color-white);
	--tw-prose-invert-pre-code: var(--color-main-300);
	--tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
	--tw-prose-invert-th-borders: var(--color-main-600);
	--tw-prose-invert-td-borders: var(--color-main-700);
}
