@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '@fontsource-variable/inter';
@import '@fontsource-variable/inter/wght-italic.css';
@theme {
	--font-sans:
		'InterVariable', 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--color-main-50: var(--color-slate-50);
	--color-main-100: var(--color-slate-100);
	--color-main-200: var(--color-slate-200);
	--color-main-300: var(--color-slate-300);
	--color-main-400: var(--color-slate-400);
	--color-main-500: var(--color-slate-500);
	--color-main-600: var(--color-slate-600);
	--color-main-700: var(--color-slate-700);
	--color-main-800: var(--color-slate-800);
	--color-main-900: var(--color-slate-900);
	--color-main-950: var(--color-slate-950);

	--color-accent-50: var(--color-emerald-50);
	--color-accent-100: var(--color-emerald-100);
	--color-accent-200: var(--color-emerald-200);
	--color-accent-300: var(--color-emerald-300);
	--color-accent-400: var(--color-emerald-400);
	--color-accent-500: var(--color-emerald-500);
	--color-accent-600: var(--color-emerald-600);
	--color-accent-700: var(--color-emerald-700);
	--color-accent-800: var(--color-emerald-800);
	--color-accent-900: var(--color-emerald-900);
	--color-accent-950: var(--color-emerald-950);
}

@utility bg-pattern {
	background-image: url('/topography.svg');
	@media (prefers-color-scheme: dark) {
		background-image: url('/topography-dark.svg');
	}
}

@utility squircle {
	clip-path: url(#squircle);
}

@utility prose-theme {
	--tw-prose-body: var(--color-main-800);
	--tw-prose-headings: var(--color-accent-700);
	--tw-prose-lead: var(--color-main-700);
	--tw-prose-links: var(--color-accent-600);
	--tw-prose-links-hover: var(--color-accent-500);
	--tw-prose-links-active: var(--color-accent-400);
	--tw-prose-bold: var(--color-main-900);
	--tw-prose-counters: var(--color-main-600);
	--tw-prose-bullets: var(--color-main-400);
	--tw-prose-hr: var(--color-main-300);
	--tw-prose-quotes: var(--color-main-900);
	--tw-prose-quote-borders: var(--color-main-300);
	--tw-prose-captions: var(--color-main-700);
	--tw-prose-code: var(--color-main-900);
	--tw-prose-pre-code: var(--color-main-100);
	--tw-prose-pre-bg: var(--color-main-900);
	--tw-prose-th-borders: var(--color-main-300);
	--tw-prose-td-borders: var(--color-main-200);
	--tw-prose-invert-body: var(--color-main-200);
	--tw-prose-invert-headings: var(--color-accent-400);
	--tw-prose-invert-lead: var(--color-main-300);
	--tw-prose-invert-links: var(--color-accent-400);
	--tw-prose-invert-links-hover: var(--color-accent-500);
	--tw-prose-invert-links-active: var(--color-accent-600);
	--tw-prose-invert-bold: var(--color-white);
	--tw-prose-invert-counters: var(--color-main-400);
	--tw-prose-invert-bullets: var(--color-main-600);
	--tw-prose-invert-hr: var(--color-main-700);
	--tw-prose-invert-quotes: var(--color-main-100);
	--tw-prose-invert-quote-borders: var(--color-main-700);
	--tw-prose-invert-captions: var(--color-main-400);
	--tw-prose-invert-code: var(--color-white);
	--tw-prose-invert-pre-code: var(--color-main-300);
	--tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
	--tw-prose-invert-th-borders: var(--color-main-600);
	--tw-prose-invert-td-borders: var(--color-main-700);
}
