@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@import '@fontsource-variable/inter';
@import '@fontsource-variable/inter/wght-italic.css';
@theme {
	--font-sans:
		'InterVariable', 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--color-main-50: var(--color-slate-50);
	--color-main-100: var(--color-slate-100);
	--color-main-200: var(--color-slate-200);
	--color-main-300: var(--color-slate-300);
	--color-main-400: var(--color-slate-400);
	--color-main-500: var(--color-slate-500);
	--color-main-600: var(--color-slate-600);
	--color-main-700: var(--color-slate-700);
	--color-main-800: var(--color-slate-800);
	--color-main-900: var(--color-slate-900);
	--color-main-950: var(--color-slate-950);

	--color-accent-50: var(--color-emerald-50);
	--color-accent-100: var(--color-emerald-100);
	--color-accent-200: var(--color-emerald-200);
	--color-accent-300: var(--color-emerald-300);
	--color-accent-400: var(--color-emerald-400);
	--color-accent-500: var(--color-emerald-500);
	--color-accent-600: var(--color-emerald-600);
	--color-accent-700: var(--color-emerald-700);
	--color-accent-800: var(--color-emerald-800);
	--color-accent-900: var(--color-emerald-900);
	--color-accent-950: var(--color-emerald-950);
}
